/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */

h1 {
  text-align: center;
  color: rgb(20, 17, 17)
}

.Search{
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1500px;
  column-gap: 20px;

}

#MedName{
    height: 50px;
    width: 450px;
}



.second_row{
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  column-gap: 10px;
}



.third_row{
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  column-gap: 10px;
}