/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */

h1 {
  margin-top: 100px;
  text-align: center;
  color: rgb(20, 17, 17)
}

.Search{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1500px;
  column-gap: 20px;


}

#MedName{
    height: 50px;
    width: 450px;
    border-radius: 15px;
    border: solid black;
    padding: 20px;

}

#MedName:focus{
  background-color: rgb(162, 255, 0);
}


.second_row{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  column-gap: 10px;
}

.below{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  column-gap: 10px;
  margin-left: 20px;
}

.third_row{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  column-gap: 10px;
}

#average{
  margin-top: 7px;
  text-align: center;
  color: red;
  margin-bottom: 12px;
}
#display{
  text-align: center;
}

#search{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 7px;
}

button {
  border-radius: 8px;
  height: 30px;
}

input{
  height: 30px;
  border-radius: 15px;
  width:200px ;
  padding: 20px;
}

input:focus{
  background-color: bisque;
  height:35px
}